.admin-content{
    display: flex;
}

.admin-side-content{
    padding-left: 30px;
}

.add{
    width: 70%;
    margin-left: max(5vm,25px);
    margin-top: 50px;
    color: black;
    font-size: 16px;
}

.add form{
    gap: 10px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload{
    width: 120px;
}

.add-product-name, .add-product-description{
}

.add-product-name input,.add-product-description textarea{
    padding: 10px;
}

.add-category{
    display: flex;
    gap: 10px;
}

.add-category select{
    max-width: 120px;
    padding: 10px;
}

.post-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.close{
    cursor: pointer;
}

.list-table-format{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 0fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
